.homePage {
  max-width: 100rem;
  margin: auto;
}

.aboutMe {
  margin: 10rem 1rem 10rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutMeInfo {
  margin: 2rem;
  font-size: 1.5rem;
}

.aboutMe img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
  align-self: center;
  margin: auto;
}

.projects {
  margin: 10rem 1rem 15rem 1rem;
  text-align: center;
}

.featuredProjectsView {
  margin: 5rem 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
}

@media (max-width: 1200px) {
  .featuredProjectsView {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .aboutMe {
    grid-template-columns: 1fr;
  }

  .featuredProjectsView {
    grid-template-columns: 1fr;
  }
}