.homePage {
  max-width: 105rem;
  margin: auto;
}

.aboutMe {
  margin: 10rem 1rem 10rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutMeInfo {
  margin: 2rem;
  font-size: 1.5rem;

  background: rgba(255, 255, 255, 0.121);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 2.8rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.25rem);
  border: 0.15rem solid rgba(255, 255, 255, 0.3);
  padding: 2rem;

  text-align: left;
}

.aboutMe img {
  object-fit: contain;
  max-width: 50%;
  height: auto;
  align-self: center;
  margin: auto;
}

.projects {
  margin: 10rem 1rem 15rem 1rem;
  text-align: center;
}

.featuredProjectsView {
  margin: 5rem 0rem 0rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;

  background: rgba(255, 255, 255, 0.121);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 2.8rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.25rem);
  border: 0.15rem solid rgba(255, 255, 255, 0.3);
  padding: 2rem;
}

@media (max-width: 1200px) {
  .featuredProjectsView {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .aboutMe {
    grid-template-columns: 1fr;
  }

  .featuredProjectsView {
    grid-template-columns: 1fr;
  }
}