@property --rot {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

.landing {
  --rot: 0deg;

  width: 100%;
  height: 100vh;
    
  transition:--rot 0.5s;
  background: linear-gradient(var(--rot), #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-size: 300% 300%;
  animation: gradient 30s ease infinite;
  animation: gradientRot 20s linear infinite;
}

@keyframes gradient {
  0% {
	  background-position: 0% 50%;
  }
  50% {
	  background-position: 100% 50%;
  }
  100% {
	  background-position: 0% 50%;
  }
}

@keyframes gradientRot {
  0% {
    --rot: 0deg;
  }
  50% {
    --rot: 180deg;
  }
  100% {
    --rot: 360deg;
  } 
}

.landingHeading h1, h3 {
  position: relative;
  margin: auto;
  top: 35vh;
  text-shadow: 0rem 0rem .5rem rgba(0, 0, 0, 0.5);
  text-align: center;
  user-select: none;
}

.landingHeading h1 {
  font-size: 10rem;
  color: rgb(228, 228, 228);
}

.landingHeading h3 {
  font-size: 3rem;
  color: rgb(211, 211, 211);
}
