.navbar {
  position: sticky;
  top: 0;

  z-index: 1;

  backdrop-filter: blur(10px);
  background-color: rgb(36, 36, 36, 0.6);
  box-shadow: 0rem 0rem 0.6rem 0.1rem rgba(0, 0, 0, 0.8);
}

.navbar h1 {
  padding: 0.2rem;
  margin: 0;
  user-select: none;
}